[submodule "projeto-racker"]
	path = projeto-racker
	url = https://github.com/lfeletronADS/projeto-racker.git
[submodule "documentacao-datacenter-eicg"]
	path = documentacao-datacenter-eicg
	url = https://github.com/lfeletronADS/documentacao-datacenter-eicg.git
